/* Ejemplo e hoja de estilo */

/* Estilo para el cuerpo HTML */

body {
    background-color: lightblue;
}

/* Estilo para el titulo */

h1 {
    color: white;
}

/* Estilo para el parrafo */

p {
    color: white;
}